[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule "bin/powerline-zsh"]
	path = bin/powerline-zsh
	url = https://github.com/carlcarl/powerline-zsh
