! Xft settings
Xft.dpi:       96
Xft.antialias: true
Xft.rgba:      rgb
Xft.hinting:   true
Xft.hintstyle: hintslight

! xterm settings
xterm*faceName:		Source Code Pro for Powerline,Source Code Pro Light
xterm*faceSize:		10
xterm*termName:		xterm-256color
xterm*loginshell:	true
xterm*charClass:	33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48
xterm*rightScrollBar:	true
xterm*ScrollBar:	false
xterm*scrollTtyOutput:	false
xterm*vt100*geometry:	160x50

! colorscheme
#include ".themes/xterm/solarized-dark"
